body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

header, section, footer {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
}

img {
  width: 100%; /* Asegura que las imágenes no sean más anchas que su contenedor */
  max-width: 400px; /* Establece un ancho máximo para las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes al cambiar el ancho */
  display: block; /* Hace que cada imagen tenga su propia línea */
  margin: 10px auto; /* Centra las imágenes horizontalmente y añade espacio entre ellas */
}

footer {
  text-align: center;
}
